/*Desktop Site*/
@media only screen and (min-width: 600px) {

  #container {
    margin-top: 6em;
    color: darkgray;
  }
  #container h3 {
    color: #fff;
  }
}

/*Mobile Site*/
@media only screen and (max-width: 600px) {

  #container {
    padding-top: 3em;
    color: darkgray;
  }
  #container h3 {
    color: #fff;
  }
}
