/*Desktop Site*/
@media only screen and (min-width: 600px) {

  .content {
    padding-top: 4em;
    margin-left: 20%;
    margin-right: 25%;
  }

  .head {
    list-style: none;
    color: white;
  }
  .head h1 {
    font-size: 2.3em;
  }
  .head h2 {
    font-size: 1.5em;
    margin-bottom: -20px;
  }
  .article {
    height: 100%;
    word-wrap: break-word;
    color: darkgray;
    font-size: 1.3em;
  }
  .article video {
    padding-bottom: 1.3em;
    width: 100%;
  }
  .article #FirstParagraph {
    margin-top: 1em;
  }
  .article li {
    padding-bottom: 1.3em;
    list-style: none;
  }
}

/*Mobile Site*/
@media only screen and (max-width: 600px) {

  .content {
    padding-top: 4em;
    margin-right: 10%;
  }

  .head {
    list-style: none;
    color: white;
  }
  .head h1 {
    font-size: 1.5em;
  }
  .head h2 {
    font-size: 1em;
    margin-bottom: -4%;
  }
  .article {
    height: 100%;
    word-wrap: break-word;
    color: darkgray;
    font-size: 0.9em;
  }
  .article video {
    padding-bottom: 1.3em;
    width: 100%;
  }
  .article li {
    padding-bottom: 0.7em;
    list-style: none;
  }
}