/*Desktop Site*/
@media only screen and (min-width: 600px) {

  .content {
    padding-top: 5%;
    color: #fff;
    list-style: none;
  }
  .head {
    margin-left: 20%;
  }
  .container {
    margin-left: 25%;
    margin-right: 25%;
    word-wrap: break-word;
  }
  .pictures li {
    margin-top: 1em;
    margin-left: 5%;
  }
  .pictures li a {
    color: #fff;
    margin-left: 2%;
  }

  .text li {
    margin-left: 5%;
    margin-bottom: 3%;
  }
  .text li a {
    color: #fff;
  }
}

/*Mobile Site*/
@media only screen and (max-width: 600px) {

  .content {
    margin-top: 25%;
    color: #fff;
    list-style: none;
  }
  .head {
    margin-left: 3%;
  }
  .container {
    margin-left: 8%;
    margin-right: 8%;
    word-wrap: break-word;
  }
  .pictures li {
    margin-left: 5%;
    margin-bottom: 3%;
  }
  .pictures li a {
    color: #fff;
    margin-left: 2%;
  }

  .text li {
    margin-left: 5%;
    margin-bottom: 3%;
  }
  .text li a {
    color: #fff;
  }
}
